.container {
  width: 1140px;
  margin: 10rem auto;
  padding: 2rem;
}

.container h3 {
  color: var(--black-color);
  font-size: 3rem;
  font-weight: 500;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-container img {
  width: 8rem;
  height: 8rem;
}
