.container {
  width: 1140px;
  margin: 10rem auto;
  padding: 2rem;
}

.container h3 {
  color: var(--black-color);
  font-size: 3rem;
  font-weight: 500;
}

.spinner-container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-container img {
  width: 8rem;
  height: 8rem;
}

.pagination ul {
  display: flex;
  justify-content: center;
}

.pagination li {
  list-style: none;
  color: var(--black-color);
  font-weight: bold;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
}

.active {
  border: 1px solid var(--black-color);
}
